@theme inline {
  --animate-indeterminate: indeterminate 2s infinite linear;

  @keyframes indeterminate {
    0% {
      transform: translateX(0) scaleX(0);
      transform-origin: 0% 50%;
    }

    25% {
      transform: translateX(0) scaleX(0.6);
      transform-origin: 0% 50%;
    }

    60% {
      transform: translateX(100%) scaleX(0.5);
      transform-origin: 0% 50%;
    }

    100% {
      transform: translateX(100%) scaleX(0.5);
      transform-origin: 0% 50%;
    }
  }
}
