@keyframes indeterminate {
  0% {
    transform: translateX(0) scaleX(0);
  }
  25% {
    transform: translateX(0) scaleX(0.6);
  }
  60% {
    transform: translateX(100%) scaleX(0.5);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.animate-indeterminate {
  animation: indeterminate 2s infinite linear;
  transform-origin: 0% 50%;
}
