@theme inline {
  --animate-indeterminate: indeterminate 2s infinite linear;
  --animate-hide: hide 100ms ease-in;
  --animate-slide-in: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipe-out: swipeOut 100ms ease-out;

  @keyframes indeterminate {
    0% {
      transform: translateX(0) scaleX(0);
      transform-origin: 0% 50%;
    }

    25% {
      transform: translateX(0) scaleX(0.6);
      transform-origin: 0% 50%;
    }

    60% {
      transform: translateX(100%) scaleX(0.5);
      transform-origin: 0% 50%;
    }

    100% {
      transform: translateX(100%) scaleX(0.5);
      transform-origin: 0% 50%;
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes swipeOut {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }
}
