/* NotoSansJP */

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    local('NotoSansJP Thin'),
    local('NotoSansJP-Thin'),
    url('../assets/fonts/NotoSansJP-Thin.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Thin.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Thin.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('NotoSansJP Light'),
    local('NotoSansJP-Light'),
    url('../assets/fonts/NotoSansJP-Light.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Light.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Light.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('NotoSansJP Regular'),
    local('NotoSansJP-Regular'),
    url('../assets/fonts/NotoSansJP-Regular.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Regular.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Regular.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('NotoSansJP Medium'),
    local('NotoSansJP-Medium'),
    url('../assets/fonts/NotoSansJP-Medium.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Medium.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Medium.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('NotoSansJP SemiBold'),
    local('NotoSansJP-SemiBold'),
    url('../assets/fonts/NotoSansJP-SemiBold.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-SemiBold.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-SemiBold.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('NotoSansJP Bold'),
    local('NotoSansJP-Bold'),
    url('../assets/fonts/NotoSansJP-Bold.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Bold.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Bold.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('NotoSansJP Black'),
    local('NotoSansJP-Black'),
    url('../assets/fonts/NotoSansJP-Black.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Black.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Black.ttf?no-inline') format('truetype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('NotoSansJP Black'),
    local('NotoSansJP-Black'),
    url('../assets/fonts/NotoSansJP-Black.woff2?no-inline') format('woff2'),
    url('../assets/fonts/NotoSansJP-Black.otf?no-inline') format('otf'),
    url('../assets/fonts/NotoSansJP-Black.ttf?no-inline') format('truetype');
}
