@theme inline {
  --shadow-*: initial;
}

/* Shadow utilities as extracted from Figma. */

.shadow-low {
  box-shadow:
    0px 1px 1px rgba(14, 34, 28, 0.25),
    0px 0px 1px rgba(14, 34, 28, 0.31);
}
.shadow-medium {
  box-shadow:
    0px 2px 5px rgba(14, 34, 28, 0.2),
    0px 0px 1px rgba(14, 34, 28, 0.31);
}
.shadow-high {
  box-shadow:
    0px 5px 9px rgba(14, 34, 28, 0.17),
    0px 0px 1px rgba(14, 34, 28, 0.31);
}
.shadow-overlay {
  box-shadow:
    0px 8px 12px rgba(14, 34, 28, 0.15),
    0px 0px 1px rgba(14, 34, 28, 0.31);
}
.shadow-overflow {
  box-shadow:
    0px 0px 8px rgba(14, 34, 28, 0.16),
    0px 0px 1px rgba(14, 34, 28, 0.12);
}
