/*
These tokens are extracted from Figma using the "Figma Token Exporter" plugin.
NOTE: In order to ease with versioning, please sort the exported tokens alphabetically
before committing them to the repository.
*/

[data-theme='Green Mode [Default]'] {
  --color-background-input-default: var(--neutral-0);
  --color-background-input-disabled: var(--neutral-100);
  --color-background-input-selected: var(--chemican-green-800);
  --color-background-interactive-alert-active: var(--sun-900);
  --color-background-interactive-alert-default: var(--sun-600);
  --color-background-interactive-alert-hover: var(--sun-800);
  --color-background-interactive-disabled: var(--neutral-200);
  --color-background-interactive-neutral-active: var(--chemican-green-100);
  --color-background-interactive-neutral-alert-active: var(--sun-100);
  --color-background-interactive-neutral-alert-hover: var(--sun-50);
  --color-background-interactive-neutral-default: var(--neutral-0);
  --color-background-interactive-neutral-hover: var(--chemican-green-50);
  --color-background-interactive-neutral-selected: var(--chemican-green-75);
  --color-background-interactive-primary-active: var(--chemican-green-1100);
  --color-background-interactive-primary-default: var(--chemican-green-800);
  --color-background-interactive-primary-hover: var(--chemican-green-900);
  --color-background-status-alert: var(--sun-500);
  --color-background-status-inprogress: var(--sea-500);
  --color-background-status-neutral: var(--neutral-500);
  --color-background-status-queue: var(--cyan-500);
  --color-background-status-success: var(--chemican-green-500);
  --color-background-status-warning: var(--yellow-500);
  --color-background-surface-alert: var(--sun-50);
  --color-background-surface-disabled: var(--neutral-100);
  --color-background-surface-inprogress: var(--sea-50);
  --color-background-surface-primary: var(--neutral-0);
  --color-background-surface-scrimmed: var(--neutral-alpha-1200-40);
  --color-background-surface-secondary: var(--raspberry-leaf-100);
  --color-background-surface-success: var(--chemican-green-50);
  --color-background-surface-tertiary: var(--raspberry-leaf-200);
  --color-background-surface-tooltip-neutral: var(--neutral-alpha-600-90);
  --color-background-surface-tooltip-primary: var(
    --chemican-green-alpha-500-90
  );
  --color-background-surface-warning: var(--yellow-50);
  --color-border-divider-default: var(--raspberry-leaf-200);
  --color-border-interactive-alert-default: var(--sun-600);
  --color-border-interactive-alert-focused: var(--sun-100);
  --color-border-interactive-alert-hover: var(--sun-800);
  --color-border-interactive-default: var(--raspberry-leaf-300);
  --color-border-interactive-disabled: var(--raspberry-leaf-300);
  --color-border-interactive-focused: var(--chemican-green-100);
  --color-border-interactive-hover: var(--chemican-green-800);
  --color-border-interactive-inverse: var(--neutral-0);
  --color-border-interactive-primary-default: var(--chemican-green-800);
  --color-border-interactive-primary-focused: var(--chemican-green-100);
  --color-border-interactive-primary-hover: var(--chemican-green-900);
  --color-border-interactive-selected: var(--chemican-green-800);
  --color-border-surface-alert: var(--sun-500);
  --color-border-surface-default: var(--raspberry-leaf-200);
  --color-border-surface-info: var(--sea-500);
  --color-border-surface-success: var(--chemican-green-500);
  --color-border-surface-warning: var(--yellow-500);
  --color-shape-accent-bamboo-pale: var(--bamboo-100);
  --color-shape-accent-bamboo-soft: var(--bamboo-300);
  --color-shape-accent-bamboo-strong: var(--bamboo-500);
  --color-shape-accent-charcoal-pale: var(--charcoal-100);
  --color-shape-accent-charcoal-soft: var(--charcoal-300);
  --color-shape-accent-charcoal-strong: var(--charcoal-600);
  --color-shape-accent-cyan-pale: var(--cyan-100);
  --color-shape-accent-cyan-soft: var(--cyan-300);
  --color-shape-accent-cyan-strong: var(--cyan-500);
  --color-shape-accent-grass-pale: var(--grass-100);
  --color-shape-accent-grass-soft: var(--grass-300);
  --color-shape-accent-grass-strong: var(--grass-500);
  --color-shape-accent-gray-pale: var(--neutral-200);
  --color-shape-accent-gray-soft: var(--neutral-400);
  --color-shape-accent-gray-strong: var(--neutral-600);
  --color-shape-accent-green-pale: var(--chemican-green-100);
  --color-shape-accent-green-soft: var(--chemican-green-200);
  --color-shape-accent-green-strong: var(--chemican-green-500);
  --color-shape-accent-lemon-pale: var(--lemon-100);
  --color-shape-accent-lemon-soft: var(--lemon-300);
  --color-shape-accent-lemon-strong: var(--lemon-500);
  --color-shape-accent-lime-pale: var(--lime-100);
  --color-shape-accent-lime-soft: var(--lime-300);
  --color-shape-accent-lime-strong: var(--lime-500);
  --color-shape-accent-magenta-pale: var(--magenta-100);
  --color-shape-accent-magenta-soft: var(--magenta-300);
  --color-shape-accent-magenta-strong: var(--magenta-500);
  --color-shape-accent-orange-pale: var(--orange-100);
  --color-shape-accent-orange-soft: var(--orange-300);
  --color-shape-accent-orange-strong: var(--orange-500);
  --color-shape-accent-peacock-pale: var(--peacock-100);
  --color-shape-accent-peacock-soft: var(--peacock-300);
  --color-shape-accent-peacock-strong: var(--peacock-500);
  --color-shape-accent-purple-pale: var(--purple-100);
  --color-shape-accent-purple-soft: var(--purple-300);
  --color-shape-accent-purple-strong: var(--purple-500);
  --color-shape-accent-sea-pale: var(--sea-100);
  --color-shape-accent-sea-soft: var(--sea-300);
  --color-shape-accent-sea-strong: var(--sea-500);
  --color-shape-accent-sky-pale: var(--sky-100);
  --color-shape-accent-sky-soft: var(--sky-300);
  --color-shape-accent-sky-strong: var(--sky-500);
  --color-shape-accent-sun-pale: var(--sun-100);
  --color-shape-accent-sun-soft: var(--sun-300);
  --color-shape-accent-sun-strong: var(--sun-500);
  --color-shape-accent-wood-pale: var(--wood-200);
  --color-shape-accent-wood-soft: var(--wood-400);
  --color-shape-accent-wood-strong: var(--wood-600);
  --color-shape-accent-yellow-pale: var(--yellow-100);
  --color-shape-accent-yellow-soft: var(--yellow-300);
  --color-shape-accent-yellow-strong: var(--yellow-500);
  --color-shape-interactive-alert-active: var(--sun-900);
  --color-shape-interactive-alert-default: var(--sun-600);
  --color-shape-interactive-alert-hover: var(--sun-800);
  --color-shape-interactive-disabled: var(--neutral-400);
  --color-shape-interactive-heavy: var(--raspberry-leaf-900);
  --color-shape-interactive-inverse: var(--neutral-0);
  --color-shape-interactive-neutral-default: var(--neutral-300);
  --color-shape-interactive-neutral-disabled: var(--neutral-200);
  --color-shape-interactive-neutral-hover: var(--neutral-400);
  --color-shape-interactive-primary-active: var(--chemican-green-900);
  --color-shape-interactive-primary-default: var(--chemican-green-700);
  --color-shape-interactive-primary-hover: var(--chemican-green-900);
  --color-shape-interactive-primary-selected: var(--chemican-green-800);
  --color-shape-light: var(--raspberry-leaf-500);
  --color-shape-primary: var(--raspberry-leaf-900);
  --color-shape-status-alert: var(--sun-500);
  --color-shape-status-info: var(--sea-500);
  --color-shape-status-success: var(--chemican-green-500);
  --color-shape-status-warning: var(--yellow-500);
  --color-text-accent-bamboo-soft: var(--bamboo-700);
  --color-text-accent-bamboo-strong: var(--bamboo-1200);
  --color-text-accent-charchoal-soft: var(--charcoal-600);
  --color-text-accent-charchoal-strong: var(--charcoal-1200);
  --color-text-accent-cyan-soft: var(--cyan-700);
  --color-text-accent-cyan-strong: var(--cyan-1200);
  --color-text-accent-grass-soft: var(--grass-600);
  --color-text-accent-grass-strong: var(--grass-1200);
  --color-text-accent-gray-soft: var(--neutral-800);
  --color-text-accent-gray-strong: var(--neutral-900);
  --color-text-accent-green-soft: var(--chemican-green-700);
  --color-text-accent-green-strong: var(--chemican-green-1100);
  --color-text-accent-lemon-soft: var(--lemon-600);
  --color-text-accent-lemon-strong: var(--lemon-1200);
  --color-text-accent-lime-soft: var(--lime-700);
  --color-text-accent-lime-strong: var(--lime-1200);
  --color-text-accent-magenta-soft: var(--magenta-600);
  --color-text-accent-magenta-strong: var(--magenta-1200);
  --color-text-accent-orange-soft: var(--orange-600);
  --color-text-accent-orange-strong: var(--orange-1200);
  --color-text-accent-peacock-soft: var(--peacock-600);
  --color-text-accent-peacock-strong: var(--peacock-1200);
  --color-text-accent-purple-soft: var(--purple-600);
  --color-text-accent-purple-strong: var(--purple-1200);
  --color-text-accent-sea-soft: var(--sea-600);
  --color-text-accent-sea-strong: var(--sea-1200);
  --color-text-accent-sky-soft: var(--sky-600);
  --color-text-accent-sky-strong: var(--sky-1200);
  --color-text-accent-sun-soft: var(--sun-500);
  --color-text-accent-sun-strong: var(--sun-1200);
  --color-text-accent-wood-soft: var(--wood-700);
  --color-text-accent-wood-strong: var(--wood-1200);
  --color-text-accent-yellow-soft: var(--yellow-600);
  --color-text-accent-yellow-strong: var(--yellow-1200);
  --color-text-body-alert: var(--sun-600);
  --color-text-body-disabled: var(--neutral-400);
  --color-text-body-inverse: var(--neutral-0);
  --color-text-body-placeholder: var(--neutral-400);
  --color-text-body-primary: var(--raspberry-leaf-900);
  --color-text-body-secondary: var(--raspberry-leaf-500);
  --color-text-body-success: var(--chemican-green-700);
  --color-text-body-warning: var(--yellow-600);
  --color-text-interactive-alert-active: var(--sun-800);
  --color-text-interactive-alert-default: var(--sun-600);
  --color-text-interactive-alert-hover: var(--sun-800);
  --color-text-interactive-disabled: var(--neutral-400);
  --color-text-interactive-heavy: var(--raspberry-leaf-900);
  --color-text-interactive-inverse: var(--neutral-0);
  --color-text-interactive-primary-active: var(--chemican-green-900);
  --color-text-interactive-primary-default: var(--chemican-green-700);
  --color-text-interactive-primary-hover: var(--chemican-green-900);
  --radius-lg: 0.5rem;
  --radius-max: 62.4375rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;
  --radius-xs: 0.125rem;
  --spacing-lg: 1.25rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.75rem;
  --spacing-xl: 1.5rem;
  --spacing-xs: 0.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxs: 0.25rem;
  --spacing-xxxl: 2.5rem;
  --spacing-xxxs: 0.125rem;
  --text-size-lg: 1rem;
  --text-size-md: 0.875rem;
  --text-size-sm: 0.75rem;
  --text-size-xl: 1.25rem;
  --text-size-xs: 0.625rem;
  --text-size-xxl: 1.5rem;
  --text-size-xxxl: 2rem;
}

[data-theme='Blue Mode'] {
  --color-background-input-default: var(--neutral-0);
  --color-background-input-disabled: var(--neutral-100);
  --color-background-input-selected: var(--sea-500);
  --color-background-interactive-alert-active: var(--sun-900);
  --color-background-interactive-alert-default: var(--sun-600);
  --color-background-interactive-alert-hover: var(--sun-800);
  --color-background-interactive-disabled: var(--neutral-200);
  --color-background-interactive-neutral-active: var(--sea-100);
  --color-background-interactive-neutral-alert-active: var(--sun-100);
  --color-background-interactive-neutral-alert-hover: var(--sun-50);
  --color-background-interactive-neutral-default: var(--neutral-0);
  --color-background-interactive-neutral-hover: var(--sea-50);
  --color-background-interactive-neutral-selected: var(--sea-100);
  --color-background-interactive-primary-active: var(--sea-800);
  --color-background-interactive-primary-default: var(--sea-500);
  --color-background-interactive-primary-hover: var(--sea-600);
  --color-background-status-alert: var(--sun-500);
  --color-background-status-inprogress: var(--sea-500);
  --color-background-status-neutral: var(--neutral-500);
  --color-background-status-queue: var(--cyan-500);
  --color-background-status-success: var(--chemican-green-500);
  --color-background-status-warning: var(--yellow-500);
  --color-background-surface-alert: var(--sun-50);
  --color-background-surface-disabled: var(--neutral-100);
  --color-background-surface-inprogress: var(--sea-50);
  --color-background-surface-primary: var(--neutral-0);
  --color-background-surface-scrimmed: var(--neutral-alpha-1200-40);
  --color-background-surface-secondary: var(--cerulean-gray-100);
  --color-background-surface-success: var(--chemican-green-50);
  --color-background-surface-tertiary: var(--cerulean-gray-200);
  --color-background-surface-tooltip-neutral: var(--neutral-alpha-600-90);
  --color-background-surface-tooltip-primary: var(--sea-alpha-500-90);
  --color-background-surface-warning: var(--yellow-50);
  --color-border-divider-default: var(--cerulean-gray-200);
  --color-border-interactive-alert-default: var(--sun-600);
  --color-border-interactive-alert-focused: var(--sun-100);
  --color-border-interactive-alert-hover: var(--sun-800);
  --color-border-interactive-default: var(--cerulean-gray-300);
  --color-border-interactive-disabled: var(--cerulean-gray-300);
  --color-border-interactive-focused: var(--sea-100);
  --color-border-interactive-hover: var(--sea-500);
  --color-border-interactive-inverse: var(--neutral-0);
  --color-border-interactive-primary-default: var(--sea-500);
  --color-border-interactive-primary-focused: var(--sea-100);
  --color-border-interactive-primary-hover: var(--sea-600);
  --color-border-interactive-selected: var(--sea-500);
  --color-border-surface-alert: var(--sun-500);
  --color-border-surface-default: var(--cerulean-gray-200);
  --color-border-surface-info: var(--sea-500);
  --color-border-surface-success: var(--chemican-green-500);
  --color-border-surface-warning: var(--yellow-500);
  --color-shape-accent-bamboo-pale: var(--bamboo-100);
  --color-shape-accent-bamboo-soft: var(--bamboo-300);
  --color-shape-accent-bamboo-strong: var(--bamboo-500);
  --color-shape-accent-charcoal-pale: var(--charcoal-100);
  --color-shape-accent-charcoal-soft: var(--charcoal-300);
  --color-shape-accent-charcoal-strong: var(--charcoal-600);
  --color-shape-accent-cyan-pale: var(--cyan-100);
  --color-shape-accent-cyan-soft: var(--cyan-300);
  --color-shape-accent-cyan-strong: var(--cyan-500);
  --color-shape-accent-grass-pale: var(--grass-100);
  --color-shape-accent-grass-soft: var(--grass-300);
  --color-shape-accent-grass-strong: var(--grass-500);
  --color-shape-accent-gray-pale: var(--neutral-200);
  --color-shape-accent-gray-soft: var(--neutral-400);
  --color-shape-accent-gray-strong: var(--neutral-600);
  --color-shape-accent-green-pale: var(--chemican-green-100);
  --color-shape-accent-green-soft: var(--chemican-green-200);
  --color-shape-accent-green-strong: var(--chemican-green-500);
  --color-shape-accent-lemon-pale: var(--lemon-100);
  --color-shape-accent-lemon-soft: var(--lemon-300);
  --color-shape-accent-lemon-strong: var(--lemon-500);
  --color-shape-accent-lime-pale: var(--lime-100);
  --color-shape-accent-lime-soft: var(--lime-300);
  --color-shape-accent-lime-strong: var(--lime-500);
  --color-shape-accent-magenta-pale: var(--magenta-100);
  --color-shape-accent-magenta-soft: var(--magenta-300);
  --color-shape-accent-magenta-strong: var(--magenta-500);
  --color-shape-accent-orange-pale: var(--orange-100);
  --color-shape-accent-orange-soft: var(--orange-300);
  --color-shape-accent-orange-strong: var(--orange-500);
  --color-shape-accent-peacock-pale: var(--peacock-100);
  --color-shape-accent-peacock-soft: var(--peacock-300);
  --color-shape-accent-peacock-strong: var(--peacock-500);
  --color-shape-accent-purple-pale: var(--purple-100);
  --color-shape-accent-purple-soft: var(--purple-300);
  --color-shape-accent-purple-strong: var(--purple-500);
  --color-shape-accent-sea-pale: var(--sea-100);
  --color-shape-accent-sea-soft: var(--sea-300);
  --color-shape-accent-sea-strong: var(--sea-500);
  --color-shape-accent-sky-pale: var(--sky-100);
  --color-shape-accent-sky-soft: var(--sky-300);
  --color-shape-accent-sky-strong: var(--sky-500);
  --color-shape-accent-sun-pale: var(--sun-100);
  --color-shape-accent-sun-soft: var(--sun-300);
  --color-shape-accent-sun-strong: var(--sun-500);
  --color-shape-accent-wood-pale: var(--wood-200);
  --color-shape-accent-wood-soft: var(--wood-400);
  --color-shape-accent-wood-strong: var(--wood-600);
  --color-shape-accent-yellow-pale: var(--yellow-100);
  --color-shape-accent-yellow-soft: var(--yellow-300);
  --color-shape-accent-yellow-strong: var(--yellow-500);
  --color-shape-interactive-alert-active: var(--sun-900);
  --color-shape-interactive-alert-default: var(--sun-600);
  --color-shape-interactive-alert-hover: var(--sun-800);
  --color-shape-interactive-disabled: var(--neutral-400);
  --color-shape-interactive-heavy: var(--cerulean-gray-1100);
  --color-shape-interactive-inverse: var(--neutral-0);
  --color-shape-interactive-neutral-default: var(--neutral-300);
  --color-shape-interactive-neutral-disabled: var(--neutral-200);
  --color-shape-interactive-neutral-hover: var(--neutral-400);
  --color-shape-interactive-primary-active: var(--sea-700);
  --color-shape-interactive-primary-default: var(--sea-500);
  --color-shape-interactive-primary-hover: var(--sea-700);
  --color-shape-interactive-primary-selected: var(--sea-600);
  --color-shape-light: var(--cerulean-gray-800);
  --color-shape-primary: var(--cerulean-gray-1100);
  --color-shape-status-alert: var(--sun-500);
  --color-shape-status-info: var(--sea-500);
  --color-shape-status-success: var(--chemican-green-500);
  --color-shape-status-warning: var(--yellow-500);
  --color-text-accent-bamboo-soft: var(--bamboo-700);
  --color-text-accent-bamboo-strong: var(--bamboo-1200);
  --color-text-accent-charchoal-soft: var(--charcoal-600);
  --color-text-accent-charchoal-strong: var(--charcoal-1200);
  --color-text-accent-cyan-soft: var(--cyan-700);
  --color-text-accent-cyan-strong: var(--cyan-1200);
  --color-text-accent-grass-soft: var(--grass-600);
  --color-text-accent-grass-strong: var(--grass-1200);
  --color-text-accent-gray-soft: var(--neutral-800);
  --color-text-accent-gray-strong: var(--neutral-900);
  --color-text-accent-green-soft: var(--chemican-green-700);
  --color-text-accent-green-strong: var(--chemican-green-1100);
  --color-text-accent-lemon-soft: var(--lemon-600);
  --color-text-accent-lemon-strong: var(--lemon-1200);
  --color-text-accent-lime-soft: var(--lime-700);
  --color-text-accent-lime-strong: var(--lime-1200);
  --color-text-accent-magenta-soft: var(--magenta-600);
  --color-text-accent-magenta-strong: var(--magenta-1200);
  --color-text-accent-orange-soft: var(--orange-600);
  --color-text-accent-orange-strong: var(--orange-1200);
  --color-text-accent-peacock-soft: var(--peacock-600);
  --color-text-accent-peacock-strong: var(--peacock-1200);
  --color-text-accent-purple-soft: var(--purple-600);
  --color-text-accent-purple-strong: var(--purple-1200);
  --color-text-accent-sea-soft: var(--sea-600);
  --color-text-accent-sea-strong: var(--sea-1200);
  --color-text-accent-sky-soft: var(--sky-600);
  --color-text-accent-sky-strong: var(--sky-1200);
  --color-text-accent-sun-soft: var(--sun-500);
  --color-text-accent-sun-strong: var(--sun-1200);
  --color-text-accent-wood-soft: var(--wood-700);
  --color-text-accent-wood-strong: var(--wood-1200);
  --color-text-accent-yellow-soft: var(--yellow-600);
  --color-text-accent-yellow-strong: var(--yellow-1200);
  --color-text-body-alert: var(--sun-600);
  --color-text-body-disabled: var(--neutral-400);
  --color-text-body-inverse: var(--neutral-0);
  --color-text-body-placeholder: var(--neutral-400);
  --color-text-body-primary: var(--cerulean-gray-1100);
  --color-text-body-secondary: var(--cerulean-gray-800);
  --color-text-body-success: var(--chemican-green-700);
  --color-text-body-warning: var(--yellow-600);
  --color-text-interactive-alert-active: var(--sun-800);
  --color-text-interactive-alert-default: var(--sun-600);
  --color-text-interactive-alert-hover: var(--sun-800);
  --color-text-interactive-disabled: var(--neutral-400);
  --color-text-interactive-heavy: var(--cerulean-gray-1100);
  --color-text-interactive-inverse: var(--neutral-0);
  --color-text-interactive-primary-active: var(--sea-700);
  --color-text-interactive-primary-default: var(--sea-500);
  --color-text-interactive-primary-hover: var(--sea-700);
  --radius-lg: 0.5rem;
  --radius-max: 62.4375rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.25rem;
  --radius-xs: 0.125rem;
  --spacing-lg: 1.25rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.75rem;
  --spacing-xl: 1.5rem;
  --spacing-xs: 0.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxs: 0.25rem;
  --spacing-xxxl: 2.5rem;
  --spacing-xxxs: 0.125rem;
  --text-size-lg: 1rem;
  --text-size-md: 0.875rem;
  --text-size-sm: 0.75rem;
  --text-size-xl: 1.25rem;
  --text-size-xs: 0.625rem;
  --text-size-xxl: 1.5rem;
  --text-size-xxxl: 2rem;
}

[data-theme='Primitive'] {
  --bamboo-1000: #00591e;
  --bamboo-100: #d3f2dd;
  --bamboo-1100: #004517;
  --bamboo-1200: #002b0e;
  --bamboo-200: #beedce;
  --bamboo-300: #abdebb;
  --bamboo-400: #93d2a8;
  --bamboo-500: #7abc90;
  --bamboo-50: #e6faed;
  --bamboo-600: #53a56e;
  --bamboo-700: #2b8f4d;
  --bamboo-800: #0d8235;
  --bamboo-900: #006e25;
  --cerulean-gray-1000: #263446;
  --cerulean-gray-100: #f3f5f7;
  --cerulean-gray-1100: #172536;
  --cerulean-gray-1200: #04101f;
  --cerulean-gray-200: #e8ebef;
  --cerulean-gray-300: #dbdfe5;
  --cerulean-gray-400: #c4cad3;
  --cerulean-gray-500: #a9b1bc;
  --cerulean-gray-600: #8993a1;
  --cerulean-gray-700: #77828f;
  --cerulean-gray-800: #626d7c;
  --cerulean-gray-900: #414d5e;
  --charcoal-1000: #403331;
  --charcoal-100: #e8e0df;
  --charcoal-1100: #332826;
  --charcoal-1200: #1c1615;
  --charcoal-200: #ded5d3;
  --charcoal-300: #cfc3c0;
  --charcoal-400: #baaeab;
  --charcoal-500: #a69895;
  --charcoal-50: #f5efed;
  --charcoal-600: #8a7672;
  --charcoal-700: #786662;
  --charcoal-800: #63524e;
  --charcoal-900: #4f403d;
  --chemican-green-1000: #0c4741;
  --chemican-green-100: #c9e8e5;
  --chemican-green-1100: #083531;
  --chemican-green-200: #9bd4ce;
  --chemican-green-300: #71c5bd;
  --chemican-green-400: #51b8ae;
  --chemican-green-500: #2cac9f;
  --chemican-green-50: #eef6f6;
  --chemican-green-600: #259d91;
  --chemican-green-700: #1d8b80;
  --chemican-green-75: #dcefee;
  --chemican-green-800: #197a70;
  --chemican-green-900: #115a53;
  --chemican-green-alpha-500-90: #2cac9fe6;
  --cyan-1000: #006173;
  --cyan-100: #c8f8ff;
  --cyan-1100: #004c59;
  --cyan-1200: #003741;
  --cyan-200: #99f2ff;
  --cyan-300: #79e2f2;
  --cyan-400: #2bc8e4;
  --cyan-500: #01b7d6;
  --cyan-50: #e6fcff;
  --cyan-600: #00a3bf;
  --cyan-700: #008da6;
  --cyan-800: #008299;
  --cyan-900: #006f83;
  --grass-1000: #4e5400;
  --grass-100: #e9f283;
  --grass-1100: #3d4200;
  --grass-1200: #2d3000;
  --grass-200: #ddeb4b;
  --grass-300: #d0e019;
  --grass-400: #c2d400;
  --grass-500: #adbd00;
  --grass-50: #f7fcb1;
  --grass-600: #98a600;
  --grass-700: #808c00;
  --grass-800: #717a00;
  --grass-900: #5d6600;
  --lemon-1000: #574f00;
  --lemon-100: #faef7a;
  --lemon-1100: #423d00;
  --lemon-1200: #363100;
  --lemon-200: #f5e63d;
  --lemon-300: #f0dc00;
  --lemon-400: #decb00;
  --lemon-500: #c7b600;
  --lemon-50: #fcf7b8;
  --lemon-600: #b0a200;
  --lemon-700: #968b00;
  --lemon-800: #807600;
  --lemon-900: #665d00;
  --lime-1000: #3e5a00;
  --lime-100: #d0f5a2;
  --lime-1100: #2c4100;
  --lime-1200: #1e2d00;
  --lime-200: #c0f354;
  --lime-300: #ade830;
  --lime-400: #9ddd15;
  --lime-500: #8cc80c;
  --lime-50: #ebfad9;
  --lime-600: #7eb40d;
  --lime-700: #6fa104;
  --lime-800: #618e00;
  --lime-900: #507500;
  --magenta-1000: #750534;
  --magenta-100: #fedbe9;
  --magenta-1100: #580126;
  --magenta-1200: #40001b;
  --magenta-200: #fdc3db;
  --magenta-300: #faabcc;
  --magenta-400: #f694bd;
  --magenta-500: #eb699f;
  --magenta-50: #fff2f8;
  --magenta-600: #dc4684;
  --magenta-700: #c72b6c;
  --magenta-800: #af1857;
  --magenta-900: #930c44;
  --neutral-0: #ffffff;
  --neutral-1000: #111111;
  --neutral-100: #f1f1f4;
  --neutral-1100: #080808;
  --neutral-1200: #000000;
  --neutral-200: #e8e8eb;
  --neutral-300: #d8d8db;
  --neutral-400: #b4b4b7;
  --neutral-500: #949497;
  --neutral-50: #f8f8fb;
  --neutral-600: #757578;
  --neutral-700: #626264;
  --neutral-800: #414143;
  --neutral-900: #1a1a1c;
  --neutral-alpha-1200-16: #0000001a;
  --neutral-alpha-1200-20: #00000033;
  --neutral-alpha-1200-24: #0000003d;
  --neutral-alpha-1200-40: #00000066;
  --neutral-alpha-600-90: #757578e6;
  --orange-1000: #804800;
  --orange-100: #ffe2bd;
  --orange-1100: #693b00;
  --orange-1200: #543000;
  --orange-200: #fdd198;
  --orange-300: #fcbf6f;
  --orange-400: #faae4b;
  --orange-500: #f59c27;
  --orange-50: #fff1de;
  --orange-600: #e3860b;
  --orange-700: #cf7500;
  --orange-800: #b56700;
  --orange-900: #9c5800;
  --peacock-1000: #005761;
  --peacock-100: #c6f0f5;
  --peacock-1100: #00454d;
  --peacock-1200: #003c42;
  --peacock-200: #afe9f0;
  --peacock-300: #85d5de;
  --peacock-400: #67c4cf;
  --peacock-500: #4cb1bd;
  --peacock-50: #dff9fc;
  --peacock-600: #2ba0ad;
  --peacock-700: #0d8b99;
  --peacock-800: #007c8a;
  --peacock-900: #006a75;
  --purple-1000: #41048e;
  --purple-100: #ecddff;
  --purple-1100: #30016c;
  --purple-1200: #21004b;
  --purple-200: #ddc2ff;
  --purple-300: #cda6ff;
  --purple-400: #bb87ff;
  --purple-500: #a565f8;
  --purple-50: #f1eafa;
  --purple-600: #8843e1;
  --purple-700: #6f23d0;
  --purple-800: #5c10be;
  --purple-900: #5109ad;
  --raspberry-leaf-1000: #0e221c;
  --raspberry-leaf-100: #f1f4f3;
  --raspberry-leaf-200: #e3e9e7;
  --raspberry-leaf-300: #c7cccb;
  --raspberry-leaf-400: #a4acaa;
  --raspberry-leaf-500: #667a74;
  --raspberry-leaf-50: #f7f8f8;
  --raspberry-leaf-600: #224d40;
  --raspberry-leaf-700: #1f453a;
  --raspberry-leaf-800: #1a3b31;
  --raspberry-leaf-900: #143028;
  --sea-1000: #00268f;
  --sea-100: #d9e3ff;
  --sea-1100: #001e71;
  --sea-1200: #001a60;
  --sea-200: #c5d3fb;
  --sea-300: #9db6f9;
  --sea-400: #7094f8;
  --sea-500: #5d87ff;
  --sea-50: #e8eefe;
  --sea-600: #3469fb;
  --sea-700: #1651f3;
  --sea-800: #003ad8;
  --sea-900: #0033c1;
  --sea-alpha-500-90: #5d87ffe6;
  --sky-1000: #004475;
  --sky-100: #cbe9fe;
  --sky-1100: #003458;
  --sky-1200: #002540;
  --sky-200: #aadafd;
  --sky-300: #8dccfa;
  --sky-400: #70bef6;
  --sky-500: #3da3eb;
  --sky-50: #e4f4ff;
  --sky-600: #1689dc;
  --sky-700: #0074c7;
  --sky-800: #0066af;
  --sky-900: #005693;
  --sun-1000: #a91010;
  --sun-100: #ffdada;
  --sun-1100: #850505;
  --sun-1200: #620000;
  --sun-200: #ffbbbb;
  --sun-300: #ff9696;
  --sun-400: #ff7171;
  --sun-500: #ff5454;
  --sun-50: #fdeeee;
  --sun-600: #fe3939;
  --sun-700: #fa2525;
  --sun-800: #ec2020;
  --sun-900: #ce1616;
  --wood-1000: #914808;
  --wood-100: #fbe5dd;
  --wood-1100: #783b07;
  --wood-1200: #5c2e0a;
  --wood-200: #f9d8cd;
  --wood-300: #f7c7b5;
  --wood-400: #f3a380;
  --wood-500: #f18b4b;
  --wood-50: #fdf5f2;
  --wood-600: #ef760e;
  --wood-700: #cf660c;
  --wood-800: #bc5e0b;
  --wood-900: #a9530a;
  --yellow-1000: #806300;
  --yellow-100: #fff0b3;
  --yellow-1100: #6e5600;
  --yellow-1200: #604b00;
  --yellow-200: #ffe380;
  --yellow-300: #ffd43d;
  --yellow-400: #ffc700;
  --yellow-500: #ebb700;
  --yellow-50: #fbf5e0;
  --yellow-600: #d2a400;
  --yellow-700: #b78f00;
  --yellow-800: #a58000;
  --yellow-900: #927200;
}
