[data-theme='Light [Default]'] {
  --color-text-default: var(--raspberry-leaf-800);
  --color-text-description: var(--raspberry-leaf-500);
  --color-text-placeholder: var(--raspberry-leaf-400);
  --color-text-inverse: var(--neutral-0);
  --color-text-link-default: var(--chemican-green-700);
  --color-text-link-hover: var(--chemican-green-900);
  --color-text-link-visited: var(--chemican-green-900);
  --color-text-alert: var(--sun-600);
  --color-text-disabled: var(--neutral-400);
  --color-background-button-primary-default: var(--chemican-green-800);
  --color-background-button-primary-hover: var(--chemican-green-900);
  --color-background-button-primary-disabled: var(--neutral-500);
  --color-background-base-primary: var(--neutral-0);
  --color-background-base-secondary: var(--raspberry-leaf-50);
  --color-background-base-tertiary: var(--chemican-green-50);
  --color-background-base-scrim: var(--alpha-300);
  --color-background-base-alert: var(--sun-50);
  --color-background-base-disabled: var(--neutral-100);
  --color-border-form-default: var(--raspberry-leaf-300);
  --color-border-form-focused: var(--chemican-green-800);
  --color-border-form-selected: var(--chemican-green-800);
  --color-border-form-alert: var(--sun-600);
  --color-border-form-disabled: var(--raspberry-leaf-400);
  --color-border-divider-default: var(--raspberry-leaf-200);
  --color-border-button-tertiary: var(--raspberry-leaf-300);
  --color-status-success: var(--chemican-green-500);
  --color-status-alert: var(--sun-500);
  --color-status-warning: var(--yellow-500);
  --color-status-notstarted: var(--raspberry-leaf-400);
  --color-text-button-primary-default: var(--neutral-0);
  --color-text-button-secondary-hover: var(--chemican-green-900);
  --color-text-button-secondary-disabled: var(--neutral-400);
  --color-text-button-secondary-default: var(--chemican-green-800);
  --color-text-button-primary-disabled: var(--neutral-400);
  --color-text-button-tertiary-default: var(--raspberry-leaf-800);
  --color-text-button-tertiary-disabled: var(--neutral-400);
  --color-text-button-textbutton-default: var(--chemican-green-700);
  --color-text-button-textbutton-hover: var(--chemican-green-900);
  --color-text-button-textbutton-disabled: var(--neutral-400);
  --color-background-button-secondary-default: var(--neutral-0);
  --color-background-button-secondary-hover: var(--chemican-green-50);
  --color-background-button-tertiary-hover: var(--chemican-green-50);
  --color-background-button-textbutton-hover: var(--chemican-green-50);
  --color-background-button-tertiary-default: var(--neutral-0);
  --color-background-button-tertiary-disabled: var(--neutral-500);
  --color-background-button-secondary-disabled: var(--neutral-500);
  --color-radio-default: var(--raspberry-leaf-800);
  --color-radio-selected: var(--chemican-green-800);
  --color-radio-alert: var(--sun-600);
  --color-radio-disabled: var(--raspberry-leaf-400);
  --color-checkbox-default: var(--raspberry-leaf-800);
  --color-checkbox-selected: var(--chemican-green-800);
  --color-checkbox-alert: var(--sun-600);
  --color-checkbox-disabled: var(--raspberry-leaf-400);
  --color-border-button-secondary: var(--chemican-green-800);
  --color-elevation-shadow-raised: var(--alpha-200);
  --color-elevation-shadow-overlay: var(--alpha-100);
  --color-elevation-shadow-overflow: var(--alpha-100);
  --color-border-frame-default: var(--raspberry-leaf-200);
  --color-status-inprogress: var(--sea-500);

  --spacing-xxsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-xlarge: 1.5rem;
  --spacing-xxlarge: 2rem;
  --spacing-xxxlarge: 2.5rem;
  --spacing-lineheight-40: 2.5rem;
  --spacing-lineheight-36: 2.25rem;
  --spacing-lineheight-30: 1.875rem;
  --spacing-lineheight-24: 1.5rem;
  --spacing-lineheight-22: 1.375rem;
  --spacing-lineheight-21: 1.3125rem;
  --spacing-lineheight-20: 1.25rem;
  --spacing-lineheight-18: 1.125rem;
  --spacing-lineheight-16: 1rem;
  --spacing-lineheight-14: 0.875rem;
  --spacing-lineheight-12: 0.75rem;
  --radius-small: 0.25rem;
  --radius-medium: 0.375rem;
  --radius-large: 0.5rem;
  --font-size-heading-xlarge: 2rem;
  --font-size-heading-large: 1.5rem;
  --font-size-heading-medium: 1.25rem;
  --font-size-heading-small: 1rem;
  --font-size-body-large: 1rem;
  --font-size-body-medium: 0.875rem;
  --font-size-body-small: 0.75rem;
  --font-size-body-xsmall: 0.625rem;
  --font-size-button-medium: 1rem;
  --font-size-button-small: 0.875rem;
  --elevation-shadow-positionx-raised: 0rem;
  --elevation-shadow-positionx-overlay: 0rem;
  --elevation-shadow-positionx-overflow: 0rem;
  --elevation-shadow-positiony-raised: 0.0625rem;
  --elevation-shadow-positiony-overlay: 0.25rem;
  --elevation-shadow-positiony-overflow: 0rem;
  --elevation-shadow-blur-raised: 0.125rem;
  --elevation-shadow-blur-overlay: 0.75rem;
  --elevation-shadow-blur-overflow: 0.25rem;
}

[data-theme='Primitive'] {
  --chemican-green-600: #259d91;
  --chemican-green-500: #2cac9f;
  --chemican-green-400: #51b8ae;
  --chemican-green-300: #71c5bd;
  --chemican-green-200: #9bd4ce;
  --chemican-green-100: #c2e5e1;
  --chemican-green-50: #eef6f6;
  --chemican-green-700: #1d8b80;
  --chemican-green-800: #197a70;
  --chemican-green-900: #115a53;
  --chemican-green-1000: #0c4741;
  --chemican-green-1100: #083531;
  --raspberry-leaf-1000: #0e221c;
  --neutral-1200: #000000;
  --sea-1200: #001a60;
  --sea-1100: #001e71;
  --sea-1000: #00268f;
  --sea-900: #0033c1;
  --sea-800: #003ad8;
  --sea-700: #1651f3;
  --sea-600: #3469fb;
  --sea-500: #5d87ff;
  --sea-400: #7094f8;
  --sea-300: #9db6f9;
  --sea-200: #c5d3fb;
  --sea-100: #d9e3ff;
  --sea-50: #e8eefe;
  --alpha-300: #00000066;
  --neutral-0: #ffffff;
  --neutral-1100: #080808;
  --neutral-1000: #111111;
  --neutral-900: #1a1a1c;
  --neutral-800: #414143;
  --neutral-700: #626264;
  --neutral-600: #757578;
  --neutral-500: #949497;
  --neutral-400: #b4b4b7;
  --neutral-300: #d8d8db;
  --neutral-200: #e8e8eb;
  --neutral-100: #f1f1f4;
  --neutral-50: #f8f8fb;
  --raspberry-leaf-900: #143028;
  --raspberry-leaf-800: #1a3b31;
  --raspberry-leaf-700: #1f453a;
  --raspberry-leaf-600: #224d40;
  --raspberry-leaf-500: #667a74;
  --raspberry-leaf-400: #a4acaa;
  --raspberry-leaf-300: #c7cccb;
  --raspberry-leaf-200: #e5e7e6;
  --raspberry-leaf-100: #f1f4f3;
  --raspberry-leaf-50: #f7f8f8;
  --wood-1200: #5c2e0a;
  --wood-1100: #783b07;
  --wood-1000: #914808;
  --wood-900: #a9530a;
  --wood-800: #bc5e0b;
  --wood-700: #cf660c;
  --wood-600: #ef760e;
  --wood-500: #f18b4b;
  --wood-400: #f3a380;
  --wood-300: #f7c7b5;
  --wood-200: #f9d8cd;
  --wood-100: #fbe5dd;
  --wood-50: #fdf5f2;
  --sun-1200: #620000;
  --sun-1100: #850505;
  --sun-1000: #a91010;
  --sun-900: #ce1616;
  --sun-800: #ec2020;
  --sun-700: #fa2525;
  --sun-600: #fe3939;
  --sun-500: #ff5454;
  --sun-400: #ff7171;
  --sun-300: #ff9696;
  --sun-200: #ffbbbb;
  --sun-100: #ffdada;
  --sun-50: #fdeeee;
  --purple-1200: #21004b;
  --purple-1100: #30016c;
  --purple-1000: #41048e;
  --purple-900: #5109ad;
  --purple-800: #5c10be;
  --purple-700: #6f23d0;
  --purple-600: #8843e1;
  --purple-500: #a565f8;
  --purple-400: #bb87ff;
  --purple-300: #cda6ff;
  --purple-200: #ddc2ff;
  --purple-100: #ecddff;
  --purple-50: #f1eafa;
  --yellow-1200: #604b00;
  --yellow-1100: #6e5600;
  --yellow-1000: #806300;
  --yellow-900: #927200;
  --yellow-800: #a58000;
  --yellow-700: #b78f00;
  --yellow-600: #d2a400;
  --yellow-500: #ebb700;
  --yellow-400: #ffc700;
  --yellow-300: #ffd43d;
  --yellow-200: #ffe380;
  --yellow-100: #fff0b3;
  --yellow-50: #fbf5e0;
  --alpha-200: #224d4052;
  --alpha-100: #224d403d;
}
