/*
These tokens are extracted from Figma using the "Figma Token Exporter" plugin.
NOTE: In order to ease with versioning, please sort the exported tokens alphabetically
before committing them to the repository.
*/

[data-theme='Green Mode [Default]'] {
  /* Legacy tokens currently supported for backwards compatibility */
  --color-border-input-default: var(--raspberry-leaf-300);
  --color-border-input-focused: var(--chemican-green-800);
  --color-border-input-selected: var(--chemican-green-800);
  --color-border-input-alert: var(--sun-600);
  --color-border-input-disabled: var(--raspberry-leaf-400);
  --color-border-divider-default: var(--raspberry-leaf-200);
  --color-border-interactive-muted: var(--raspberry-leaf-300);
  --color-border-interactive-light: var(--chemican-green-800);
  --color-border-surface-default: var(--raspberry-leaf-200);
  --color-border-interactive-danger: var(--sun-600);
  /* End of legacy tokens */

  --color-background-input-default: var(--neutral-0);
  --color-background-input-disabled: var(--neutral-100);
  --color-background-input-selected: var(--chemican-green-800);
  --color-background-interactive-danger-active: var(--sun-900);
  --color-background-interactive-danger-default: var(--sun-600);
  --color-background-interactive-danger-hover: var(--sun-800);
  --color-background-interactive-disabled: var(--neutral-200);
  --color-background-interactive-neutral-active: var(--chemican-green-100);
  --color-background-interactive-neutral-danger-active: var(--sun-100);
  --color-background-interactive-neutral-danger-hover: var(--sun-50);
  --color-background-interactive-neutral-default: var(--neutral-0);
  --color-background-interactive-neutral-hover: var(--chemican-green-50);
  --color-background-interactive-neutral-selected: var(--chemican-green-75);
  --color-background-interactive-primary-active: var(--chemican-green-1100);
  --color-background-interactive-primary-default: var(--chemican-green-800);
  --color-background-interactive-primary-hover: var(--chemican-green-900);
  --color-background-status-alert: var(--sun-500);
  --color-background-status-inprogress: var(--sea-500);
  --color-background-status-neutral: var(--neutral-400);
  --color-background-status-queue: var(--cyan-500);
  --color-background-status-success: var(--chemican-green-500);
  --color-background-status-warning: var(--yellow-500);
  --color-background-surface-alert: var(--sun-50);
  --color-background-surface-disabled: var(--neutral-100);
  --color-background-surface-inprogress: var(--sea-50);
  --color-background-surface-primary: var(--neutral-0);
  --color-background-surface-scrimmed: var(--neutral-alpha-1200-40);
  --color-background-surface-secondary: var(--raspberry-leaf-100);
  --color-background-surface-success: var(--chemican-green-50);
  --color-background-surface-tertiary: var(--raspberry-leaf-200);
  --color-background-surface-tooltip-neutral: var(--neutral-alpha-1200-40);
  --color-background-surface-tooltip-primary: var(
    --chemican-green-alpha-500-90
  );
  --color-background-surface-warning: var(--yellow-50);
  --color-border-divider-default: var(--raspberry-leaf-200);
  --color-border-interactive-alert-default: var(--sun-600);
  --color-border-interactive-alert-focused: var(--sun-100);
  --color-border-interactive-default: var(--raspberry-leaf-300);
  --color-border-interactive-disabled: var(--raspberry-leaf-400);
  --color-border-interactive-focused: var(--chemican-green-100);
  --color-border-interactive-hover: var(--chemican-green-800);
  --color-border-interactive-selected: var(--chemican-green-800);
  --color-border-surface-alert: var(--sun-500);
  --color-border-surface-default: var(--raspberry-leaf-200);
  --color-border-surface-info: var(--sea-500);
  --color-border-surface-success: var(--chemican-green-500);
  --color-border-surface-warning: var(--yellow-500);
  --color-shape-accent-blue-pale: var(--sea-50);
  --color-shape-accent-blue-soft: var(--sea-200);
  --color-shape-accent-blue-strong: var(--sea-500);
  --color-shape-accent-cyan-pale: var(--cyan-50);
  --color-shape-accent-cyan-soft: var(--cyan-200);
  --color-shape-accent-cyan-strong: var(--cyan-500);
  --color-shape-accent-gray-pale: var(--neutral-100);
  --color-shape-accent-gray-soft: var(--neutral-300);
  --color-shape-accent-gray-strong: var(--neutral-500);
  --color-shape-accent-green-pale: var(--chemican-green-100);
  --color-shape-accent-green-soft: var(--chemican-green-200);
  --color-shape-accent-green-strong: var(--chemican-green-500);
  --color-shape-accent-lime-pale: var(--lime-50);
  --color-shape-accent-lime-soft: var(--lime-100);
  --color-shape-accent-lime-strong: var(--lime-400);
  --color-shape-accent-orange-pale: var(--wood-100);
  --color-shape-accent-orange-soft: var(--wood-300);
  --color-shape-accent-orange-strong: var(--wood-600);
  --color-shape-accent-purple-pale: var(--purple-50);
  --color-shape-accent-purple-soft: var(--purple-200);
  --color-shape-accent-purple-strong: var(--purple-500);
  --color-shape-accent-red-pale: var(--sun-50);
  --color-shape-accent-red-soft: var(--sun-200);
  --color-shape-accent-red-strong: var(--sun-500);
  --color-shape-accent-yellow-pale: var(--yellow-50);
  --color-shape-accent-yellow-soft: var(--yellow-200);
  --color-shape-accent-yellow-strong: var(--yellow-500);
  --color-shape-interactive-danger-active: var(--sun-800);
  --color-shape-interactive-danger-default: var(--sun-600);
  --color-shape-interactive-danger-hover: var(--sun-800);
  --color-shape-interactive-disabled: var(--neutral-400);
  --color-shape-interactive-heavy: var(--raspberry-leaf-900);
  --color-shape-interactive-inverse: var(--neutral-0);
  --color-shape-interactive-primary-active: var(--chemican-green-900);
  --color-shape-interactive-primary-default: var(--chemican-green-700);
  --color-shape-interactive-primary-hover: var(--chemican-green-900);
  --color-shape-interactive-primary-selected: var(--chemican-green-800);
  --color-shape-light: var(--raspberry-leaf-500);
  --color-shape-primary: var(--raspberry-leaf-900);
  --color-shape-status-alert: var(--sun-500);
  --color-shape-status-info: var(--sea-500);
  --color-shape-status-success: var(--chemican-green-500);
  --color-shape-status-warning: var(--yellow-500);
  --color-text-accent-blue-soft: var(--sea-600);
  --color-text-accent-blue-strong: var(--sea-1200);
  --color-text-accent-cyan-soft: var(--cyan-700);
  --color-text-accent-cyan-strong: var(--cyan-1200);
  --color-text-accent-gray-soft: var(--neutral-800);
  --color-text-accent-gray-strong: var(--neutral-900);
  --color-text-accent-green-soft: var(--chemican-green-700);
  --color-text-accent-green-strong: var(--chemican-green-1100);
  --color-text-accent-lime-soft: var(--lime-700);
  --color-text-accent-lime-strong: var(--lime-1200);
  --color-text-accent-orange-soft: var(--wood-700);
  --color-text-accent-orange-strong: var(--wood-1200);
  --color-text-accent-purple-soft: var(--purple-600);
  --color-text-accent-purple-strong: var(--purple-1200);
  --color-text-accent-red-soft: var(--sun-500);
  --color-text-accent-red-strong: var(--sun-1200);
  --color-text-accent-yellow-soft: var(--yellow-600);
  --color-text-accent-yellow-strong: var(--yellow-1200);
  --color-text-body-alert: var(--sun-600);
  --color-text-body-disabled: var(--neutral-400);
  --color-text-body-inverse: var(--neutral-0);
  --color-text-body-primary: var(--raspberry-leaf-900);
  --color-text-body-secondary: var(--raspberry-leaf-500);
  --color-text-body-success: var(--chemican-green-700);
  --color-text-body-warning: var(--yellow-600);
  --color-text-interactive-danger-active: var(--sun-800);
  --color-text-interactive-danger-default: var(--sun-600);
  --color-text-interactive-danger-hover: var(--sun-800);
  --color-text-interactive-disabled: var(--neutral-400);
  --color-text-interactive-heavy: var(--raspberry-leaf-900);
  --color-text-interactive-inverse: var(--neutral-0);
  --color-text-interactive-primary-active: var(--chemican-green-900);
  --color-text-interactive-primary-default: var(--chemican-green-700);
  --color-text-interactive-primary-hover: var(--chemican-green-900);
  --radius-lg: 8px;
  --radius-max: 999px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-lg: 20px;
  --spacing-md: 16px;
  --spacing-sm: 12px;
  --spacing-xl: 24px;
  --spacing-xs: 8px;
  --spacing-xxl: 32px;
  --spacing-xxs: 4px;
  --spacing-xxxl: 40px;
  --spacing-xxxs: 2px;
  --text-size-lg: 16px;
  --text-size-md: 14px;
  --text-size-sm: 12px;
  --text-size-xl: 20px;
  --text-size-xs: 10px;
  --text-size-xxl: 24px;
  --text-size-xxxl: 32px;
}

[data-theme='Blue Mode'] {
  --color-background-input-default: var(--neutral-0);
  --color-background-input-disabled: var(--neutral-100);
  --color-background-input-selected: var(--sea-500);
  --color-background-interactive-danger-active: var(--sun-900);
  --color-background-interactive-danger-default: var(--sun-600);
  --color-background-interactive-danger-hover: var(--sun-800);
  --color-background-interactive-disabled: var(--neutral-200);
  --color-background-interactive-neutral-active: var(--sea-100);
  --color-background-interactive-neutral-danger-active: var(--sun-100);
  --color-background-interactive-neutral-danger-hover: var(--sun-50);
  --color-background-interactive-neutral-default: var(--neutral-0);
  --color-background-interactive-neutral-hover: var(--sea-50);
  --color-background-interactive-neutral-selected: var(--sea-100);
  --color-background-interactive-primary-active: var(--sea-800);
  --color-background-interactive-primary-default: var(--sea-500);
  --color-background-interactive-primary-hover: var(--sea-600);
  --color-background-status-alert: var(--sun-500);
  --color-background-status-inprogress: var(--sea-500);
  --color-background-status-neutral: var(--neutral-400);
  --color-background-status-queue: var(--cyan-500);
  --color-background-status-success: var(--chemican-green-500);
  --color-background-status-warning: var(--yellow-500);
  --color-background-surface-alert: var(--sun-50);
  --color-background-surface-disabled: var(--neutral-100);
  --color-background-surface-inprogress: var(--sea-50);
  --color-background-surface-primary: var(--neutral-0);
  --color-background-surface-scrimmed: var(--neutral-alpha-1200-40);
  --color-background-surface-secondary: var(--cerulean-gray-100);
  --color-background-surface-success: var(--chemican-green-50);
  --color-background-surface-tertiary: var(--cerulean-gray-100);
  --color-background-surface-tooltip-neutral: var(--neutral-alpha-1200-40);
  --color-background-surface-tooltip-primary: var(--sea-alpha-500-90);
  --color-background-surface-warning: var(--yellow-50);
  --color-border-divider-default: var(--cerulean-gray-200);
  --color-border-interactive-alert-default: var(--sun-600);
  --color-border-interactive-alert-focused: var(--sun-100);
  --color-border-interactive-default: var(--cerulean-gray-300);
  --color-border-interactive-disabled: var(--cerulean-gray-500);
  --color-border-interactive-focused: var(--sea-100);
  --color-border-interactive-hover: var(--sea-500);
  --color-border-interactive-selected: var(--sea-500);
  --color-border-surface-alert: var(--sun-500);
  --color-border-surface-default: var(--cerulean-gray-200);
  --color-border-surface-info: var(--sea-500);
  --color-border-surface-success: var(--chemican-green-500);
  --color-border-surface-warning: var(--yellow-500);
  --color-shape-accent-blue-pale: var(--sea-50);
  --color-shape-accent-blue-soft: var(--sea-200);
  --color-shape-accent-blue-strong: var(--sea-500);
  --color-shape-accent-cyan-pale: var(--cyan-50);
  --color-shape-accent-cyan-soft: var(--cyan-200);
  --color-shape-accent-cyan-strong: var(--cyan-500);
  --color-shape-accent-gray-pale: var(--neutral-100);
  --color-shape-accent-gray-soft: var(--neutral-300);
  --color-shape-accent-gray-strong: var(--neutral-500);
  --color-shape-accent-green-pale: var(--chemican-green-100);
  --color-shape-accent-green-soft: var(--chemican-green-200);
  --color-shape-accent-green-strong: var(--chemican-green-500);
  --color-shape-accent-lime-pale: var(--lime-50);
  --color-shape-accent-lime-soft: var(--lime-100);
  --color-shape-accent-lime-strong: var(--lime-400);
  --color-shape-accent-orange-pale: var(--wood-100);
  --color-shape-accent-orange-soft: var(--wood-300);
  --color-shape-accent-orange-strong: var(--wood-600);
  --color-shape-accent-purple-pale: var(--purple-50);
  --color-shape-accent-purple-soft: var(--purple-200);
  --color-shape-accent-purple-strong: var(--purple-500);
  --color-shape-accent-red-pale: var(--sun-50);
  --color-shape-accent-red-soft: var(--sun-200);
  --color-shape-accent-red-strong: var(--sun-500);
  --color-shape-accent-yellow-pale: var(--yellow-50);
  --color-shape-accent-yellow-soft: var(--yellow-200);
  --color-shape-accent-yellow-strong: var(--yellow-500);
  --color-shape-interactive-danger-active: var(--sun-800);
  --color-shape-interactive-danger-default: var(--sun-600);
  --color-shape-interactive-danger-hover: var(--sun-800);
  --color-shape-interactive-disabled: var(--neutral-400);
  --color-shape-interactive-heavy: var(--cerulean-gray-1100);
  --color-shape-interactive-inverse: var(--neutral-0);
  --color-shape-interactive-primary-active: var(--sea-700);
  --color-shape-interactive-primary-default: var(--sea-500);
  --color-shape-interactive-primary-hover: var(--sea-700);
  --color-shape-interactive-primary-selected: var(--sea-600);
  --color-shape-light: var(--cerulean-gray-800);
  --color-shape-primary: var(--cerulean-gray-1100);
  --color-shape-status-alert: var(--sun-500);
  --color-shape-status-info: var(--sea-500);
  --color-shape-status-success: var(--chemican-green-500);
  --color-shape-status-warning: var(--yellow-500);
  --color-text-accent-blue-soft: var(--sea-600);
  --color-text-accent-blue-strong: var(--sea-1200);
  --color-text-accent-cyan-soft: var(--cyan-700);
  --color-text-accent-cyan-strong: var(--cyan-1200);
  --color-text-accent-gray-soft: var(--neutral-800);
  --color-text-accent-gray-strong: var(--neutral-900);
  --color-text-accent-green-soft: var(--chemican-green-700);
  --color-text-accent-green-strong: var(--chemican-green-1100);
  --color-text-accent-lime-soft: var(--lime-700);
  --color-text-accent-lime-strong: var(--lime-1200);
  --color-text-accent-orange-soft: var(--wood-700);
  --color-text-accent-orange-strong: var(--wood-1200);
  --color-text-accent-purple-soft: var(--purple-600);
  --color-text-accent-purple-strong: var(--purple-1200);
  --color-text-accent-red-soft: var(--sun-500);
  --color-text-accent-red-strong: var(--sun-1200);
  --color-text-accent-yellow-soft: var(--yellow-600);
  --color-text-accent-yellow-strong: var(--yellow-1200);
  --color-text-body-alert: var(--sun-600);
  --color-text-body-disabled: var(--neutral-400);
  --color-text-body-inverse: var(--neutral-0);
  --color-text-body-primary: var(--cerulean-gray-1100);
  --color-text-body-secondary: var(--cerulean-gray-800);
  --color-text-body-success: var(--chemican-green-700);
  --color-text-body-warning: var(--yellow-600);
  --color-text-interactive-danger-active: var(--sun-800);
  --color-text-interactive-danger-default: var(--sun-600);
  --color-text-interactive-danger-hover: var(--sun-800);
  --color-text-interactive-disabled: var(--neutral-400);
  --color-text-interactive-heavy: var(--cerulean-gray-1100);
  --color-text-interactive-inverse: var(--neutral-0);
  --color-text-interactive-primary-active: var(--sea-700);
  --color-text-interactive-primary-default: var(--sea-500);
  --color-text-interactive-primary-hover: var(--sea-700);
  --radius-lg: 8px;
  --radius-max: 999px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-xs: 2px;
  --spacing-lg: 20px;
  --spacing-md: 16px;
  --spacing-sm: 12px;
  --spacing-xl: 24px;
  --spacing-xs: 8px;
  --spacing-xxl: 32px;
  --spacing-xxs: 4px;
  --spacing-xxxl: 40px;
  --spacing-xxxs: 2px;
  --text-size-lg: 16px;
  --text-size-md: 14px;
  --text-size-sm: 12px;
  --text-size-xl: 20px;
  --text-size-xs: 10px;
  --text-size-xxl: 24px;
  --text-size-xxxl: 32px;
}

[data-theme='Primitive'] {
  --alpha-blue-100: #0033c1;
  --alpha-blue-200: #0033c1;
  --alpha-blue-300: #000000;
  --alpha-green-100: #224d40;
  --alpha-green-200: #224d40;
  --alpha-green-300: #000000;
  --cerulean-gray-1000: #263446;
  --cerulean-gray-100: #f3f5f7;
  --cerulean-gray-1100: #172536;
  --cerulean-gray-1200: #04101f;
  --cerulean-gray-200: #e8ebef;
  --cerulean-gray-300: #dbdfe5;
  --cerulean-gray-400: #c4cad3;
  --cerulean-gray-500: #a9b1bc;
  --cerulean-gray-600: #8993a1;
  --cerulean-gray-700: #77828f;
  --cerulean-gray-800: #626d7c;
  --cerulean-gray-900: #414d5e;
  --chemican-green-1000: #0c4741;
  --chemican-green-100: #c9e8e5;
  --chemican-green-1100: #083531;
  --chemican-green-200: #9bd4ce;
  --chemican-green-300: #71c5bd;
  --chemican-green-400: #51b8ae;
  --chemican-green-500: #2cac9f;
  --chemican-green-50: #eef6f6;
  --chemican-green-600: #259d91;
  --chemican-green-700: #1d8b80;
  --chemican-green-75: #dcefee;
  --chemican-green-800: #197a70;
  --chemican-green-900: #115a53;
  --chemican-green-alpha-500-90: #2cac9f;
  --cyan-1000: #006173;
  --cyan-100: #c8f8ff;
  --cyan-1100: #004c59;
  --cyan-1200: #003741;
  --cyan-200: #99f2ff;
  --cyan-300: #79e2f2;
  --cyan-400: #2bc8e4;
  --cyan-500: #01b7d6;
  --cyan-50: #e6fcff;
  --cyan-600: #00a3bf;
  --cyan-700: #008da6;
  --cyan-800: #008299;
  --cyan-900: #006f83;
  --lime-1000: #3e5a00;
  --lime-100: #d0f5a2;
  --lime-1100: #2c4100;
  --lime-1200: #1e2d00;
  --lime-200: #c0f354;
  --lime-300: #ade830;
  --lime-400: #9ddd15;
  --lime-500: #8cc80c;
  --lime-50: #ebfad9;
  --lime-600: #7eb40d;
  --lime-700: #6fa104;
  --lime-800: #618e00;
  --lime-900: #507500;
  --neutral-0: #ffffff;
  --neutral-1000: #111111;
  --neutral-100: #f1f1f4;
  --neutral-1100: #080808;
  --neutral-1200: #000000;
  --neutral-200: #e8e8eb;
  --neutral-300: #d8d8db;
  --neutral-400: #b4b4b7;
  --neutral-500: #949497;
  --neutral-50: #f8f8fb;
  --neutral-600: #757578;
  --neutral-700: #626264;
  --neutral-800: #414143;
  --neutral-900: #1a1a1c;
  --neutral-alpha-1200-16: #000000;
  --neutral-alpha-1200-20: #000000;
  --neutral-alpha-1200-24: #000000;
  --neutral-alpha-1200-40: #000000;
  --purple-1000: #41048e;
  --purple-100: #ecddff;
  --purple-1100: #30016c;
  --purple-1200: #21004b;
  --purple-200: #ddc2ff;
  --purple-300: #cda6ff;
  --purple-400: #bb87ff;
  --purple-500: #a565f8;
  --purple-50: #f1eafa;
  --purple-600: #8843e1;
  --purple-700: #6f23d0;
  --purple-800: #5c10be;
  --purple-900: #5109ad;
  --raspberry-leaf-1000: #0e221c;
  --raspberry-leaf-100: #f1f4f3;
  --raspberry-leaf-200: #e3e9e7;
  --raspberry-leaf-300: #c7cccb;
  --raspberry-leaf-400: #a4acaa;
  --raspberry-leaf-500: #667a74;
  --raspberry-leaf-50: #f7f8f8;
  --raspberry-leaf-600: #224d40;
  --raspberry-leaf-700: #1f453a;
  --raspberry-leaf-800: #1a3b31;
  --raspberry-leaf-900: #143028;
  --sea-1000: #00268f;
  --sea-100: #d9e3ff;
  --sea-1100: #001e71;
  --sea-1200: #001a60;
  --sea-200: #c5d3fb;
  --sea-300: #9db6f9;
  --sea-400: #7094f8;
  --sea-500: #5d87ff;
  --sea-50: #e8eefe;
  --sea-600: #3469fb;
  --sea-700: #1651f3;
  --sea-800: #003ad8;
  --sea-900: #0033c1;
  --sea-alpha-500-90: #5d87ff;
  --sun-1000: #a91010;
  --sun-100: #ffdada;
  --sun-1100: #850505;
  --sun-1200: #620000;
  --sun-200: #ffbbbb;
  --sun-300: #ff9696;
  --sun-400: #ff7171;
  --sun-500: #ff5454;
  --sun-50: #fdeeee;
  --sun-600: #fe3939;
  --sun-700: #fa2525;
  --sun-800: #ec2020;
  --sun-900: #ce1616;
  --wood-1000: #914808;
  --wood-100: #fbe5dd;
  --wood-1100: #783b07;
  --wood-1200: #5c2e0a;
  --wood-200: #f9d8cd;
  --wood-300: #f7c7b5;
  --wood-400: #f3a380;
  --wood-500: #f18b4b;
  --wood-50: #fdf5f2;
  --wood-600: #ef760e;
  --wood-700: #cf660c;
  --wood-800: #bc5e0b;
  --wood-900: #a9530a;
  --yellow-1000: #806300;
  --yellow-100: #fff0b3;
  --yellow-1100: #6e5600;
  --yellow-1200: #604b00;
  --yellow-200: #ffe380;
  --yellow-300: #ffd43d;
  --yellow-400: #ffc700;
  --yellow-500: #ebb700;
  --yellow-50: #fbf5e0;
  --yellow-600: #d2a400;
  --yellow-700: #b78f00;
  --yellow-800: #a58000;
  --yellow-900: #927200;
}
