name: TruffleHog Secret Scan

on: pull_request

jobs:
    test:
      runs-on: ubuntu-latest
      steps:

      - name: Extract Pull Request's commits
        run: echo "fetch_depth=$(( commits + 1 ))" >> $GITHUB_ENV
        env:
          commits: ${{ github.event.pull_request.commits }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: ${{ env.fetch_depth }}

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          base: ${{ github.event.pull_request.base.sha }}
          head: ${{ github.event.pull_request.head.sha }}

      # Slack Webhook用のGCP Service Accountの認証
      - name: 'GCP Service Account Authorization for Slack Webhook'
        if: ${{ failure() }}
        id: auth_slack_webhook
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SERVICE_ACCOUNT_FOR_GITHUB }}'
      
      # GCP Service Accountの認証
      - name: 'Activate Service Account'
        if: ${{ failure() }}
        run: |
          # GCP Service Accountの認証
          gcloud auth activate-service-account --key-file="$GOOGLE_APPLICATION_CREDENTIALS"
          gcloud config set project sds-scan

      # SLACK_WEBHOOK_URLを環境変数にセット
      - name: 'Get WEBHOOK_URL from Google Cloud Secret Manager'
        if: ${{ failure() }}
        run: echo "SLACK_WEBHOOK_URL_SECURITY_ALERT=$(gcloud secrets versions access latest --secret='SLACK_WEBHOOK_URL_SECURITY_ALERT')" >> $GITHUB_ENV

      # Slackに通知
      - name: Notify Slack
        if: ${{ failure() }}
        uses: 8398a7/action-slack@v3
        with:
          status: custom
          fields: workflow,job,commit
          custom_payload: |
            {
              attachments: [{
                color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
                text: `${{ github.repository }}リポジトリにsecretがcommitされている可能性があります\nデプロイ中のジョブ: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL_SECURITY_ALERT }}
